<div>
    {% spaceless %}
    <h2>
        <a href="{{ path("rithis_store_get_product", {slug: product.slug}) }}">
            {{ product.brand }}
            {{ product }}
        </a>
    </h2>
    {% endspaceless %}

    <p>{% if product.photo %}<img src="{{ rithis_store_asset_url(product.photo) }}" alt="{{ product.brand.name }} {{ product.name }}">{% endif %}{{ product.description }}</p>

    <form action="{{ path("rithis_store_post_cart_products") }}" method="post">
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" value="Buy for {{ product.price }} USD">
    </form>
</div>
